* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body{
    height: 100vh;
    background: blue;
    display: flex;

}
.sal-game{
  width: 900px;
  height: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  perspective: 1000px;
}
.Btiles{
  width:calc(10%);
  height:calc(10%- 10px);
  margin: 0px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s
}
.Wtiles{
  width:calc(10%);
  height:calc(10%- 10px);
  margin: 0px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s

}
.player{
  width:calc(7%);
  height:calc(5%-10px);
  margin:0px;
  position: absolute;
  z-index: 2;
  
}
.Btiles:active{
  transform: scale(.97);
  transition: transform .2s
}
.Wtiles:active{
  transform: scale(.97);
  transition: transform .2s
}

.Btiles.flip{
  transform: rotateY(180deg);

}
.Wtiles.flip{
  transform: rotateY(180deg);
}
.WTFront, .WTBack{
  width: 100%;
  height: 100%;
  border: 0px solid grey;
  position:absolute;
  border-radius: 0px;
  background: lightblue;
  backface-visibility: hidden;
}
.BTFront, .BTBack{
  width: 100%;
  height: 100%;
  border: 0px solid grey;
  position: absolute;
  border-radius: 0px;
  background: lightblue;
  backface-visibility: hidden;
}
.WTBack, .BTBack{
  transform: rotateY(180deg);
}

